c<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLIST</title>
    <link rel="stylesheet" href="./sys.css">
</head>
<body>
    <div id="app">
        <h1>todos</h1>
        <div class="box">
            <input type="text" placeholder="What needs to be done?" v-model="val" @keydown.enter="add">
            <ul>
                <li v-for="(item, index) in items" :key="item.id">
                    <div class="warp">
                        <input type="checkbox" v-model="item.checked" class="Checkbox" id="check">
                    </div>
                    <span v-text="item.todo" :class="{line:item.checked}"></span>
                    <b @click="close(index)">X</b>
                    <!-- 点击切换组件 -->
                    <!-- <component :is="currentTabComponent"></component> -->
                </li>
            </ul>
            
            <p>
                <span>{{items.length|txtfilter}}</span> 
                <button :class="{ u_line: addclass == 'all' }" @click="all">all</button>
                <button :class="{ u_line: addclass == 'active' }"  @click="active">active</button>
                <button :class="{ u_line: addclass == 'checked' }"  @click="checked">checked</button>
                <button class="btn0" @click="clear" v-show="items.length > reldone">CLEAR</button>
            </p>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script>
        //将input输入值存储到本地存储中
            var todoStorage = {
                get() {
                    var todos = JSON.parse(localStorage.getItem(todos) || "[]");
                    todos.forEach(function (todo, index) {
                        // todo.id=index;
                        todo.id = Date.now();
                        todo.checked=false;
                    });
                    // todoStorage.uid = items.length;
                    return todos;
                },
                save(todos) {
                    localStorage.setItem("todos", JSON.stringify(todos));
                }
            };
            //页面关闭清空本地存储
            window._onbeforeunload = function () {
                    localStorage.removeItem("todos")
                };

            var checkbtn = {
                    all:function(items) {
                        return items;
                    },
                    active:function(items) {
                        return items.filter(function (item) {
                            return !item.checked;
                        });
                    },
                    checked:function(items) {
                        return items.filter(function (item) {
                            return item.checked;
                        });
                    }
                };

        new Vue({
                el: "#app",
                data: {
                    val: "",
                    items: todoStorage.get(),
                    addclass:"all"
                },
                //监视器
                watch: {
                    items: {
                        handler(todos) {
                            todoStorage.save(todos);
                        },
                        deep: true
                    }
                },
                //过滤器
                filters: {
                    txtfilter(v) {
                        return v + " " + "item left";
                    }
                },
                //自定义指令
                directives: {
                    "focus":{
                        inserted: function (el) {
                            el.focus();
                        }
                    }
                },


                methods: {
                add(){
                    this.items.push({todo:this.val,id:Date.now()});
                    // console.log(this.val)
                    // console.log(this.items)
                        this.val = ""
                    },
                    checkitem(index) {
                        return this.items[index].checked = !this.items[index].checked;
                    },
                    close(index) {
                        this.items.splice(index, 1);
                    },
                    clear() {
                        this.items = checkbtn.active(this.items);
                    },

                    //选中样式
                    all() {
                        this.addclass = "all";
                    },
                    active() {
                        this.addclass = "active";
                    },
                    checked() {
                        this.addclass = "checked";
                    }
                },
            })
    </script>
</body>
</html>