* {
  margin: 0;
  padding: 0;
}
#app {
  padding: 0 12px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-align: center;
  line-height: 64px;
  background: #fff;
}
#app .left {
  width: 420px;
  display: flex;
  justify-content: space-around;
}
#app .left a {
  color: #000;
  text-decoration: none;
}
#app .left a:hover {
  color: #315efb;
}
#app .right {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
#app .right .box {
  width: 92px;
  height: 236px;
}
#app .right .box a {
  width: 90px;
  color: #000;
  text-decoration: none;
}
#app .right .box a:nth-child(1):hover {
  color: #315efb;
}
#app .right .box .list {
  list-style: none;
  width: 90px;
  height: 170px;
  border: 1px solid #d8d8d0;
  border-radius: 12px;
  margin-top: -10px;
  display: none;
}
#app .right .box .list li {
  font-size: 14px;
  line-height: 34px;
}
#app .right a:nth-child(2) {
  width: 50px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background: #4e71f2;
  border-radius: 5px;
  margin-top: 18px;
  text-decoration: none;
}
