<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sys.css">
</head>

<body>
    <div id="app">
        <ul>
            <t-header></t-header>
            <li v-for="(item,index) in goods" :key=item.id>
                <span  v-text="item.id"></span>
                <span  v-text="item.productName"></span>
                <span  v-text="item.price"></span>
                <p>
                    <button @click="add(index)">+</button>
                    <input type="text"  v-model="item.num">
                    <button @click="sub(index)">-</button>
                </p>
                <span>{{item.num*item.price}}</span>
            </li>
            <li>
                <span v-text="msg"></span>
                <span>{{icon + getsum}}</span>
            </li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        Vue.component("t-header", {
            template:
                `
                <li>
                    <span v-for="item in items" v-text="item"></span>
                </li>
            `,
            data: function () {
                return {
                    items: ["编号", "名称", "单价", "数量", "总价"]
                }
            }
        })

        new Vue({
            el: "#app",
            data: {
                msg: "总价:",
                icon: "￥",
                goods: [
                    {
                        productName: "apple",
                        num: 2,
                        price: 3,
                        id: 1,
                    },
                    {
                        productName: "pear",
                        num: 4,
                        price: 5,
                        id: 2,
                    },
                    {
                        productName: "banana",
                        num: 5,
                        price: 7,
                        id: 3,
                    },
                ],
            },
            computed: {
                getsum() {
                    let sum = 0;
                    this.goods.map((item,index) => {
                        sum += item.num * item.price;
                    });
                    return sum;
                }
            },
                methods: {
                    add(index){
                        this.goods[index].num++;
                    },
                    sub(index) {
                        this.goods[index].num--;
                        if(this.goods[index].num<1){
                            alert("再减就没了！");
                            this.goods[index].num = 1;
                        }
                    }
                },
        })
    </script>
</body>

</html>